.App {
  text-align: center;
}

.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-right: 10%;
    margin-left: 5%;
    font-size: 0.6em;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    cursor:pointer;
    background-color:  grey;
}
.rd3-chart-title {
    background-color: #4CAF50;
    padding: 10px 10px 10px 10px;
    position: static;
}

.hov {
    background-color: black;
}
.hov:hover {
    cursor:pointer;
    background-color: grey !important;
}
